---
---

@import "{{ site.theme }}";

.wrapper {
	max-width: 660px;
}

section {
	max-width: 660px;
}

#header, #title {
	display: none;
} 

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 18px;
}
